body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
}

.square {
  width: 60px;
  height: 60px;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #999;
}